################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/Start.v12.suo
/Start.csproj.user
/bin
