<!DOCTYPE html>
<html ng-app="JoynerApp">
<head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" data-require="bootstrap-css@3.1.1" data-semver="3.1.1" />
    <link rel="stylesheet" type="text/css" href="assets/css/app.css" />
    <link href="assets/css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <title>Joyner Devices</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" data-require="bootstrap-css@3.1.1" data-semver="3.1.1" />
</head>

<body ng-controller="demoController">
    <div>
        <!-- Panel Menu -->
        <div id="panel-menu">
            <div id="user-info">
                <img src="assets/img/user.png" width="200px" />
            </div>
            <div class="accordion" id="leftMenu">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                            <span class="icon fui-home"></span> Dashboard
                        </a>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                            <span class="icon fui-location"></span> Locations
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                        <div class="accordion-inner">
                            <ul>
                                <div ng-repeat="device in devices | filter:searchText | orderBy:directionalSort" >
                                    <li><span class="icon fui-location"></span> {{device.sublocation}}</li>

                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
                            <span class="icon fui-gear"></span> Settings
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
                        <div class="accordion-inner">
                            <ul>
                                <li>This is one</li>
                            </ul>                 
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading last">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseFour">
                            <span class="icon fui-user"></span> Sign Out
                        </a>
                    </div>  
                </div>
            </div>
        </div>
        <!-- /Panel Menu -->
    </div>
    <div id="main-container">
        <nav id="navbar" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a id="js-openmenubutton" class="navbar-brand" href="#">Device Data</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav">
                    <div>
                        <div class="btn-group">
                            <label class="btn btn-lg" ng-model="sortField" ng-click="ascending=!ascending; sortField='location'" btn-radio="'dname'">
                                Location
                                <i class="glyphicon glyphicon-chevron-up" ng-show="sortField=='location' && ascending"></i>
                                <i class="glyphicon glyphicon-chevron-down" ng-show="sortField=='location' && !ascending"></i>
                            </label>
                            <label class="btn btn-lg" ng-model="sortField" ng-click="ascending=!ascending; sortField='dtype'" btn-radio="'sname'">
                                Device Type
                                <i class="glyphicon glyphicon-chevron-up" ng-show="sortField=='dtype' && ascending"></i>
                                <i class="glyphicon glyphicon-chevron-down" ng-show="sortField=='dtype' && !ascending"></i>
                            </label>
                            <label class="btn btn-lg" ng-click="menu = 'add'">Add</label>
                        </div>
                    </div>
                </ul>
                <form class="navbar-form navbar-right" action="#" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="submit" class="btn"><span class="fui-search"></span></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </nav><!-- /navbar -->
        <div id="main-content">
            <div ng-container ng-show="menu == 'main'">
                <div class="row">
                    <div class="col-md-3 device" ng-click="Edit(device)" ng-repeat="device in devices | filter:searchText | orderBy:directionalSort" ng-hide="menu == 'edit'">
                        <div class="device-head">
                            <h5>{{ device.dname }}</h5>
                        </div>
                        <ul>
                            <li>Owner<h4>{{device.user}}</h4></li>
                            <li>Location <h4>{{device.location}} {{device.sublocation}}</h4></li>
                            <li>Device ID <h4>{{device.did}}</h4></li>
                            <li>Sensor Type <h4>{{device.sensortype}}</h4></li>
                            <li>Sensor ID <h4>{{device.sid}}</h4></li>
                            <li>Current Reading <h4>{{ device.reading }}</h4></li>
                            <li>Set Point <h4>{{device.setpoint}}</h4></li>
                            <li>Set Point (Min/Max) <h4>{{device.minsetting}}/{{device.maxsetting}}</h4></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="menu == 'edit'">
                <div class="well form-horizontal">
                    <input type="text" ng-model='currentEdit.user' class="form-control" placeholder="User Name" />
                    <input type="text" ng-model='currentEdit.location' class="form-control" placeholder="Location" />
                    <input type="text" ng-model='currentEdit.sublocation' class="form-control" placeholder="Room" />
                    <input type="text" ng-model='currentEdit.did' class="form-control" placeholder="Device ID" />
                    <input type="text" ng-model='currentEdit.dtype' class="form-control" placeholder="Device Type" />
                    <input type="text" ng-model='currentEdit.dname' class="form-control" placeholder="Device Name" />
                    <input type="text" ng-model='currentEdit.sid' class="form-control" placeholder="Sensor ID" />
                    <input type="text" ng-model='currentEdit.sensortype' class="form-control" placeholder="Sensor Type" />
                    <input type="text" ng-model='currentEdit.sname' class="form-control" placeholder="Sensor Name" />
                    <input type="text" ng-model='currentEdit.reading' class="form-control" placeholder="Sensor Reading" />
                    <input type="text" ng-model='currentEdit.setpoint' class="form-control" placeholder="Sensor Set Point" />
                    <input type="text" ng-model='currentEdit.maxsetting' class="form-control" placeholder="Sensor Max Setting" />
                    <input type="text" ng-model='currentEdit.minsetting' class="form-control" placeholder="Sensor Min Setting" />
                    <button class="btn btn-default" ng-click="Change('devices', currentEdit)">Change</button>
                    <button class="btn btn-default" ng-click="Delete('devices', currentEdit)">Delete</button>
                    <button class="btn btn-default" ng-click="menu = 'main'; currentEdit={}">Cancel</button>
                </div>
            </div>
            <div ng-show="menu == 'add'">
                <div class="well form-horizontal">
                    <input type="text" ng-model='currentEdit.user' class="form-control" placeholder="User Name" />
                    <input type="text" ng-model='currentEdit.location' class="form-control" placeholder="Location" />
                    <input type="text" ng-model='currentEdit.sublocation' class="form-control" placeholder="Room" />
                    <input type="text" ng-model='currentEdit.did' class="form-control" placeholder="Device ID" />
                    <input type="text" ng-model='currentEdit.dtype' class="form-control" placeholder="Device Type" />
                    <input type="text" ng-model='currentEdit.dname' class="form-control" placeholder="Device Name" />
                    <input type="text" ng-model='currentEdit.sid' class="form-control" placeholder="Sensor ID" />
                    <input type="text" ng-model='currentEdit.sensortype' class="form-control" placeholder="Sensor Type" />
                    <input type="text" ng-model='currentEdit.sname' class="form-control" placeholder="Sensor Name" />
                    <input type="text" ng-model='currentEdit.reading' class="form-control" placeholder="Sensor Reading" />
                    <input type="text" ng-model='currentEdit.setpoint' class="form-control" placeholder="Sensor Set Point" />
                    <input type="text" ng-model='currentEdit.maxsetting' class="form-control" placeholder="Sensor Max Setting" />
                    <input type="text" ng-model='currentEdit.minsetting' class="form-control" placeholder="Sensor Min Setting" />
                    <button class="btn btn-default" ng-click="Add('devices', currentEdit)">Add</button>
                    <button class="btn btn-default" ng-click="menu = 'main'">Cancel</button>
                </div>
            </div>
        </div>      
    </div>



    <script src="https://code.jquery.com/jquery-2.0.3.min.js" data-require="jquery@*" data-semver="2.0.3"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" data-require="bootstrap@3.1.1" data-semver="3.1.1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.0.min.js"></script>
    <script src="//acdccdn.blob.core.windows.net/cdn/ajax/acdc/0.6/AngularCloudDataConnector.js"></script>
    <script src="//acdccdn.blob.core.windows.net/cdn/ajax/acdc/0.6/Providers/AzureService.js"></script>

    <script>
        var app = angular.module('JoynerApp', ['DataModule', 'AzureDataModule']);
        app.controller('demoController', ['$scope', 'dataService', 'azureDataService',
            function ($scope, dataService, azureDataService) {
//define global scope variables
$scope.sortField = 'dtype';
$scope.ascending = true;
$scope.currentColumn = 0;
$scope.menu = "main";

$scope.Delete = function (tableName, entity) {
    dataService.remove(tableName, entity);
    dataService.commit();
    $scope.menu = "main";
    $scope.currentEdit = {};
};

//function to add a new data entry
$scope.Add = function (tableName, entity) {
    dataService.add(tableName, entity);
    dataService.commit();
    $scope.menu = "main";
    $scope.currentEdit = {};
};

$scope.Change = function (tableName, entity) {
//dataService.update(tableName, entity);
dataService.commit();
$scope.menu = "main";
$scope.currentEdit = {};

};


//function to intialize the connection
$scope.initialize = function () {

    azureDataService.addSource('https://joyner.azure-mobile.net/', 'lDfAwKeKBLQFCckQNxkOSGaUiukSfe41', ['devices']);
    dataService.addSource(azureDataService);
    dataService.connect(function (results) {
    }, $scope);
}

$scope.Edit = function (person) {
    console.log(person);
    $scope.menu = "edit";
    $scope.currentEdit = person;
}


$scope.watchbuttons = function () {
    $scope.$watch('sortField', function () {
        $scope.ascending = true;
    });

    $scope.$watch(function () {
        return $scope.sortField + $scope.ascending;
    }, function () {
        if ($scope.ascending) {
            $scope.directionalSort = '+' + $scope.sortField;
        } else {
            $scope.directionalSort = '-' + $scope.sortField;
        }

    })
}

$scope.initialize();
$scope.watchbuttons();
}
]);
</script>
</body>
</html>
