<!DOCTYPE html>
<html ng-app="JoynerApp">
<head>
    <title>Joyner Devices</title>
  <style>
    .card:hover {
      -webkit-box-shadow: 10px 12px 27px 9px rgba(0, 0, 0, 0.13);
      -moz-box-shadow: 10px 12px 27px 9px rgba(0, 0, 0, 0.13);
      box-shadow: 10px 12px 27px 9px rgba(0, 0, 0, 0.13);
    }

    .btn {
      border-radius: 0px;
    }

    .navbar-brand {
      margin-top: -3px;
    }
  </style>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" data-require="bootstrap-css@3.1.1" data-semver="3.1.1" />
</head>

<body ng-controller="demoController">
  <div ng-show="menu == 'main'">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Device Data</a>
          <button id="button-nav-group" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <div>
              <div class="btn-group">

                <label class="btn btn-lg" ng-model="sortField" ng-click="ascending=!ascending; sortField='dname'" btn-radio="'dname'">
                  Device Name
                  <i class="glyphicon glyphicon-chevron-up" ng-show="sortField=='dname' && ascending"></i>
                  <i class="glyphicon glyphicon-chevron-down" ng-show="sortField=='dname' && !ascending"></i>
                </label>
                <label class="btn btn-lg" ng-model="sortField" ng-click="ascending=!ascending; sortField='sname'" btn-radio="'sname'">
                  Sensor Name
                  <i class="glyphicon glyphicon-chevron-up" ng-show="sortField=='sname' && ascending"></i>
                  <i class="glyphicon glyphicon-chevron-down" ng-show="sortField=='sname' && !ascending"></i>
                </label>
                <label class="btn btn-lg" ng-click="menu = 'add'">Add</label>
              </div>
            </div>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
            </div>
          </form>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    
    <div ng-container>
      <div class="row">
        <div ng-repeat="device in devices | filter:searchText | orderBy:directionalSort">
          <div class="col-sm-6 col-md-4 col-lg-2" ng-click="Edit(device)">
            <div class="panel panel-default card">
              <div class="panel-heading">Owner: {{device.user}} Location: {{device.location}} {{device.sublocation}} </div>
              <div class="panel-body">Device Name: {{ device.dname }} <br />Device ID: {{device.did}} <br />
                Sensor Type: {{device.sensortype}} <br />
                Sensor ID: {{device.sid}} <br />
                Sensor {{ device.sname }}: Current Reading:{{ device.reading }} <br />
                Set Point: {{device.setpoint}}  (min/max): ({{device.minsetting}}/{{device.maxsetting}})
                
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="menu == 'edit'">
    <div class="well form-horizontal">
      <input type="text" ng-model='currentEdit.user' class="form-control" placeholder="User Name" />
      <input type="text" ng-model='currentEdit.location' class="form-control" placeholder="Location" />
      <input type="text" ng-model='currentEdit.sublocation' class="form-control" placeholder="Room" />
      <input type="text" ng-model='currentEdit.did' class="form-control" placeholder="Device ID" />
      <input type="text" ng-model='currentEdit.dtype' class="form-control" placeholder="Device Type" />
      <input type="text" ng-model='currentEdit.dname' class="form-control" placeholder="Device Name" />
      <input type="text" ng-model='currentEdit.sid' class="form-control" placeholder="Sensor ID" />
      <input type="text" ng-model='currentEdit.sensortype' class="form-control" placeholder="Sensor Type" />
      <input type="text" ng-model='currentEdit.sname' class="form-control" placeholder="Sensor Name" />
      <input type="text" ng-model='currentEdit.reading' class="form-control" placeholder="Sensor Reading" />
      <input type="text" ng-model='currentEdit.setpoint' class="form-control" placeholder="Sensor Set Point" />
      <input type="text" ng-model='currentEdit.maxsetting' class="form-control" placeholder="Sensor Max Setting" />
      <input type="text" ng-model='currentEdit.minsetting' class="form-control" placeholder="Sensor Min Setting" />
      <button class="btn btn-default" ng-click="Change('devices', currentEdit)">Change</button>
      <button class="btn btn-default" ng-click="Delete('devices', currentEdit)">Delete</button>
      <button class="btn btn-default" ng-click="menu = 'main'; currentEdit={}">Cancel</button>
    </div>
  </div>
  <div ng-show="menu == 'add'">
    <div class="well form-horizontal">
        <input type="text" ng-model='currentEdit.user' class="form-control" placeholder="User Name" />
        <input type="text" ng-model='currentEdit.location' class="form-control" placeholder="Location" />
        <input type="text" ng-model='currentEdit.sublocation' class="form-control" placeholder="Room" />
        <input type="text" ng-model='currentEdit.did' class="form-control" placeholder="Device ID" />
        <input type="text" ng-model='currentEdit.dtype' class="form-control" placeholder="Device Type" />
        <input type="text" ng-model='currentEdit.dname' class="form-control" placeholder="Device Name" />
        <input type="text" ng-model='currentEdit.sid' class="form-control" placeholder="Sensor ID" />
        <input type="text" ng-model='currentEdit.sensortype' class="form-control" placeholder="Sensor Type" />
        <input type="text" ng-model='currentEdit.sname' class="form-control" placeholder="Sensor Name" />
        <input type="text" ng-model='currentEdit.reading' class="form-control" placeholder="Sensor Reading" />
        <input type="text" ng-model='currentEdit.setpoint' class="form-control" placeholder="Sensor Set Point" />
        <input type="text" ng-model='currentEdit.maxsetting' class="form-control" placeholder="Sensor Max Setting" />
        <input type="text" ng-model='currentEdit.minsetting' class="form-control" placeholder="Sensor Min Setting" />
      <button class="btn btn-default" ng-click="Add('devices', currentEdit)">Add</button>
      <button class="btn btn-default" ng-click="menu = 'main'">Cancel</button>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-2.0.3.min.js" data-require="jquery@*" data-semver="2.0.3"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" data-require="bootstrap@3.1.1" data-semver="3.1.1"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.0.min.js"></script>
  <script src="//acdccdn.blob.core.windows.net/cdn/ajax/acdc/0.6/AngularCloudDataConnector.js"></script>
  <script src="//acdccdn.blob.core.windows.net/cdn/ajax/acdc/0.6/Providers/AzureService.js"></script>

  <script>
        var app = angular.module('JoynerApp', ['DataModule', 'AzureDataModule']);
        app.controller('demoController', ['$scope', 'dataService', 'azureDataService',
          function ($scope, dataService, azureDataService) {
              //define global scope variables
              $scope.sortField = 'dname';
              $scope.ascending = true;
              $scope.currentColumn = 0;
              $scope.menu = "main";

              $scope.Delete = function (tableName, entity) {
                  dataService.remove(tableName, entity);
                  dataService.commit();
                  $scope.menu = "main";
                  $scope.currentEdit = {};
              };

              //function to add a new data entry
              $scope.Add = function (tableName, entity) {
                  dataService.add(tableName, entity);
                  dataService.commit();
                  $scope.menu = "main";
                  $scope.currentEdit = {};
              };

              $scope.Change = function (tableName, entity) {
                  //dataService.update(tableName, entity);
                  dataService.commit();
                  $scope.menu = "main";
                  $scope.currentEdit = {};

              };


              //function to intialize the connection
              $scope.initialize = function () {

                azureDataService.addSource('https://joyner.azure-mobile.net/', 'lDfAwKeKBLQFCckQNxkOSGaUiukSfe41', ['devices']);
                  dataService.addSource(azureDataService);
                  dataService.connect(function (results) {
                  }, $scope);
              }

              $scope.Edit = function (person) {
                  console.log(person);
                  $scope.menu = "edit";
                  $scope.currentEdit = person;
              }


              $scope.watchbuttons = function () {
                  $scope.$watch('sortField', function () {
                      $scope.ascending = true;
                  });

                  $scope.$watch(function () {
                      return $scope.sortField + $scope.ascending;
                  }, function () {
                      if ($scope.ascending) {
                          $scope.directionalSort = '+' + $scope.sortField;
                      } else {
                          $scope.directionalSort = '-' + $scope.sortField;
                      }

                  })
              }

              $scope.initialize();
              $scope.watchbuttons();
          }
        ]);
  </script>
</body>
</html>
