<!DOCTYPE html>
<html ng-app="AllJoynApp">

<head>
  <title>Lesson</title>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body ng-controller="AllJoynController">


  <div class="well" ng-hide="showDetail">
    Sort
    <button class="btn btn-default" ng-click="sortButtonClick('dname')">
      Name
      <span ng-show="sortField=='dname'">{{(sortAscending)?'+':'-'}}</span>
    </button>
    <button class="btn btn-default" ng-click="sortButtonClick('time')">
      Time
      <span ng-show="sortField=='time'">{{(sortAscending)?'+':'-'}}</span>
    </button>
    Search
    <input type="text" class="btn" ng-model="filterText" placeholder="" />
    Add<button class="btn btn-default" ng-click="addButtonClick()">New</button>
  </div>

  <div class="container" ng-hide="showDetail">
    <div ng-container class="row">
      <div ng-repeat="device in devices | filter:filterText | orderBy:sort">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="panel panel-default" ng-click="editDevice(device)">
            <div class="panel-heading">{{ device.dname }}</div>
            <div class="panel-body"> {{ device.sname }}: {{ device.value }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" ng-show="showDetail">
    <input type="text" class="form-control" ng-model="detailDevice.dname" placeholder="Device Name" />
    <input type="text" class="form-control" ng-model="detailDevice.sname" placeholder="Sensor Name" />
    <input type="text" class="form-control" ng-model="detailDevice.value" placeholder="Value" />
        <button class="btn" ng-show="detailDevice.id == null" ng-click="addDevice(detailDevice)">Add</button>
    <button class="btn" ng-show="detailDevice.id != null" ng-click="updateDevice(detailDevice)">Update</button>
    <button class="btn" ng-show="detailDevice.id != null" ng-click="deleteDevice(detailDevice)">Delete</button>
    <button class="btn" ng-click="cancelDetail()">Cancel</button>
  </div>

  <script src="http://code.jquery.com/jquery-2.0.3.min.js" data-require="jquery@*" data-semver="2.0.3"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" data-require="bootstrap@3.1.1" data-semver="3.1.1"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js" data-require="angular.js@1.2.17" data-semver="1.2.17"></script>
  <script src="//ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.0.min.js"></script>
  <script src="//acdccdn.blob.core.windows.net/cdn/ajax/acdc/0.4/AngularCloudDataConnector.js"></script>
  <script src="//acdccdn.blob.core.windows.net/cdn/ajax/acdc/0.4/Providers/AzureService.js"></script>


  <script>
    var app = angular.module('AllJoynApp', ['DataModule', 'AzureDataModule']);
    app.controller('AllJoynController', ['$scope', 'dataService', 'azureDataService',
      function ($scope, dataService, azureDataService) {
        $scope.message = "Getting data...";
        azureDataService.addSource('https://joyner.azure-mobile.net/', 'lDfAwKeKBLQFCckQNxkOSGaUiukSfe41', ['devices']);
        dataService.addSource(azureDataService);
        dataService.connect(function (results) {
          $scope.$apply($scope.message = "Data received.");
        }, $scope, 1);
  
      // sort, sortField, sortAscending, sortButtonClick(field)
      $scope.$watch('sortField', function () {
        $scope.sortAscending = true;
      });
      $scope.$watch('sortField+sortAscending', function () {
        $scope.sort = (($scope.sortAscending) ? "+" : "-") + $scope.sortField;
      });

      $scope.sortField = "dname";

      $scope.sortButtonClick = function (field) {
        $scope.sortField = field;
        $scope.sortAscending = !$scope.sortAscending;
      };

      // showDetail, detailPerson, editPerson(person)
      $scope.addButtonClick = function () { $scope.detailDevice = {}; $scope.showDetail = true; };
      $scope.editDevice = function (device) { $scope.detailDevice = JSON.parse(JSON.stringify(device)); $scope.showDetail = true; };
      $scope.addDevice = function (device) {
        device.id = $scope.device._idGenerator++;
        $scope.devices.push(device);
        $scope.cancelDetail();
      };
      $scope.deleteDevice = function (device) {
        for (var i = 0; i < $scope.devices.length; i++) {
          if ($scope.devices[i].id == device.id) { $scope.devices.splice(i, 1); break; }
        }
        $scope.cancelDetail();
      };
      $scope.updateDevice = function (device) {
        for (var i = 0; i < $scope.devices.length; i++) {
          if ($scope.devices[i].id == device.id) {
            $scope.devices[i] = device;
            break;
          }
        }
        $scope.cancelDetail();
      };
      $scope.cancelDetail = function () { $scope.detailDevice = {}; $scope.showDetail = null; };
    }]);
  </script>
</body>
</html>
