body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.card:hover {
    -webkit-box-shadow: 10px 12px 27px 9px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 10px 12px 27px 9px rgba(0, 0, 0, 0.13);
    box-shadow: 10px 12px 27px 9px rgba(0, 0, 0, 0.13);
}

.btn {
    border-radius: 0px;
}

.navbar-brand {
    margin-top: -3px;
}

/* Menu */
/* --------------------------------------------------------- */
#panel-menu {
    background-color: #2B3741;
    height: 100vh;
    width: 250px;
    box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.7);
    float: left;
}

#panel-menu #user-info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#panel-menu #user-info {
    padding-top: 20px;
    height: 200px;
}

#leftMenu .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #1D272F;
}

#leftMenu .accordion-inner ul {
    margin: 0;
    padding-left: 20px;
}

#leftMenu .accordion-inner ul li {
    background-color: #1D272F;
    display: block;
    height: 75px;
    line-height: 75px;
    color: #6C757D;
}

#leftMenu .accordion-inner li span.icon {
    color: #191D21;
}

#leftMenu .accordion-heading {
    height: 75px;
    line-height: 75px;
    border-top: 1px solid #182026;
    background-color: #2B3741;
    list-style-type:none;
}

#leftMenu .accordion-heading.last {
    border-bottom: 1px solid #182026;
}  

#leftMenu .accordion-heading a {
    display: block; 
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    padding-left: 20px;
}

#leftMenu .accordion-heading a:hover {  
    color: #fff;
    background-color: #4E6071;
}

#leftMenu .accordion-heading .active {
    width: 182px;
    height: 34px;
    border: 1px solid #5b5b5b; /* inner stroke */
    background-color: #353535; /* layer fill content */
}

#leftMenu span.icon {
    color: #2ECC71;
}

/* Body */
/* --------------------------------------------------------- */

#main-container {
    margin-left: 250px;
}

/* Navbar */
/* --------------------------------------------------------- */

#js-openmenubutton {
    margin-left: 20px;
    color: #fff;
}

#navbar {
    margin-left: 250px;
    background-color: #E4494C;
}

#navbar .navbar-brand,
#navbar .navbar-nav li a,
#navbar .navbar-nav label {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

#navbar .navbar-nav label {
    color: #fff;
}

/* Content */
/* --------------------------------------------------------- */

#main-content {
    padding-top: 100px;
}

/* Device Cards */
/* --------------------------------------------------------- */

.device {
    margin-bottom: 20px;
    color: #798795;
    border-radius: 6px;
}

.device ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #ECF0F1;
    border-radius: 0 0 6px 6px;
}

.device li {
    position: relative;
    padding: 18px 42px 21px 25px;
    margin-top: 2px;
    font-size: 14px;
    line-height: 1.214;
    background: #ECF0F1;
    background-size: 20px 20px;
    -webkit-transition: .25s;
    transition: .25s;
}

.device li:first-child {
    margin-top: 0;
}

.device li:last-child {
    padding-bottom: 21px;
    border-radius: 0 0 6px 6px;
}

.device li.device-done {
    color: #1abc9c;
    background: transparent;
}

.device li.device-done .device-name {
    color: #1abc9c;
}

.device-head {
    position: relative;
    padding: 19px 25px 20px;
    color: #34495e;
    background: #1abc9c;
    background-size: 16px 16px;
    border-radius: 6px 6px 0 0;
}

.device-head:before {
    position: absolute;
    top: 50%;
    left: 92%;
    display: inline-block;
    margin: -.5em 0 0 -1em;
    font-family: 'Flat-UI-Pro-Icons';
    font-size: 16px;
    line-height: 17px;
    content: "\e634";
}

.device-head h5 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.device-icon {
    float: left;
    padding: 11px 22px 0 0;
    font-size: 24px;
}

.device-content {
    padding-top: 1px;
    overflow: hidden;
}

.device-name {
    margin: 1px 0 3px;
    font-size: 17px;
    color: #fff;
}